@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy means a lot to me. It's one of my motivating reasons for writing puttr.'.</p>
<p>
    In the hope I speak of a collection of programmers that participate collectively, I sometimes write as 'we', in anticipation of
    having fellow contributors in time, and outlining shared principles behind the behaviour of the software.

    The invention of puttr is my owm, as is the basic design and implementation of the core classes required.
    By the time you're reading this, it is a full working implementation of the latest checked-in source,
    publically viewable on github, open contributors added under my authorisation, with appointed administrators in time,
    based on contribution.
</p>

<p> The initial source code development v1.0, now public is entirely my own </p>
<p>
    Would-be contributors are advised to contact me directly via
    <a mailto=duncan@puttr.uk>email: duncan@puttr.uk</a>
</p>
<h1>Minimal data capture and retention policy</h1>
<ul>
    <li>
        Cookie storage of unique random id associated with each browser/device will be an option,
        although our using is intended only to improve security and enable safe account recovery
        and access control to specified devices (eg in the case of loss or theft, or even just retired/offline devices).
        Personal data optional, but required for extended features, and only as is practical for application of our
        legal obligations under UK law.

    </li>
    <li>
        Your data is secured against loss by being stored on a multiply-redundant 1TB RAID array, which is then periodally backed up to
        a fast 1TB SSD, all taking places behind the scenes on plusplus.uk server(s).
    </li>
</ul>
